.stages-container {
    width: 100%;
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.stages-container>.stage-item {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #E3E8ED;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    font-weight: 500;
    position: relative;
    color: #0000009b;
}

.stages-container>.stage-item i{
    position: absolute;
    top: -10px;
    right: -8px;
}
.stages-container>.stage-item i>svg{
    border: 2px solid white;
    border-radius: 100%;
}

.stages-container>.stage-item.active{
    /* background-color: #166fd4; */
    /* color: white !important; */
    background-color: white;
    border: 4px solid #166fd4;
    color: #000;
}