.body-details{
    color: #4B5C6B;
  }
  
  .body-details .subtitle{
    background-color: #E3E8ED;

  }
  
  .group-subtitle, Nav{
    background-color: #E3E8ED;
  }
  
  .group-subtitle .sub-item, .sub-item:hover{
    background-color: #E3E8ED;
  color: #4B5C6B !important;
  border-radius: 20px !important;
  margin-right: 10px;
  cursor: pointer;
  column-gap: 5px;
  }
  .sub-item > *{
  transition: .2s !important;

  }
  
  .group-subtitle .sub-item:focus , .sub-item.active{
    background-color: white !important;
    color: #E9863F !important;
  
  }
  textarea{

    height: 230px;
    resize: none !important;
    color: #4B5C6B;
    background-color: #F2F5F7;
    border: 2px dashed #DAE2E8;
    outline:  none !important
  }
  
  .pointer{
    cursor: pointer;
  }
  button.pointer{
    border: none;
    outline: none;
    color: #4B5C6B;
    width: auto;
    column-gap: 5px;
  }
  
  
 
  .anexo, .historial{
    background-color: #F2F5F7;
  }
 
  .anexo .icon-container .icon{
    background-color: #CED8E0 !important;
  }
 

  .icon-option > *, .item-icon{
    color: #788896 !important;
  }
  .historial .icon-container{
    color: #788896 !important;
  }
 
  .historial:hover, .anexo:hover{
    background-color: #CED8E0;
  }
 
  .body-details{
    padding-bottom: 100px !important;
  }
  .item-icon{
    font-size: 13px;
  }