*{
  transition: all 0.2s ease-in-out;
  list-style: none;
  text-decoration: none !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*============Header of pages============*/






/* ==============HOME==================  */
.home-condiciones-container .home-content .cards .card{
  text-align: center;
  background-color: white !important;
  text-decoration: none;
  color: black;
  border: none;
  width: 30%;
}



/* ============parragraph of conditions================  */
.info-condicion{
  font-size: 14px;
}



/*========CONVOCATORIAS==========*/

.conv-card {
  background-color: #E3E8ED !important;
  color: #4B5C6B;
  font-size: 14px;
  border: none !important;
}

/*===========DETALLES=========*/

